@font-face {
    font-family: 'Milligram';
    src: url("../resources/fonts/Milligram-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: 'Milligram';
    src: url("../resources/fonts/Milligram-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: 'Milligram';
    src: url("../resources/fonts/Milligram-Light.ttf");
    font-weight: 300;
}

article>*:not(.entry-content),
.entry-content>* {
    @apply mx-auto max-w-content;
}

.entry-content,
.block-editor-block-list__layout {
    h1 {
        @apply text-2xl;
    }

    h2 {
        @apply text-xl;
    }

    h3 {
        @apply text-lg;
    }

    p,
    ul,
    ol {
        a {
            @apply text-blue-500 underline;

            &:hover {
                @apply no-underline;
            }
        }

        @apply mb-8;
    }

    ul:not(.block-editor-block-variation-picker__variations) {
        li {
            @apply list-disc list-inside;
        }
    }

    ol {
        li {
            @apply list-decimal list-inside;
        }
    }
}

.gas-mask {
    mask-image: url('../resources/img/GAS-mask.svg');
    mask-repeat: no-repeat;
}

.mask-center {
    mask-position: center;
}

.mask-top {
    mask-position: top center;
}

.mask-85 {
    mask-size: 85%;
}

.image-mask {
    mask-size: 125%;
}

/* Bounce animation */
.bouncing-item {
    animation: bounce 10s ease-in-out infinite;
}

@keyframes bounce {

    5%,
    10%,
    15%,
    20%,
    25% {
        transform: translateY(0);
    }

    7.5% {
        transform: translateY(-30px);
    }

    12.5% {
        transform: translateY(-15px);
    }

    17.5% {
        transform: translateY(-5px);
    }

    22.5% {
        transform: translateY(-2px);
    }
}

/* Fade in animation */
.fade-in {
    opacity: 0;
    transform: translate(0, 5vh);
    transition: all 1s;
}

.fade-in--visible {
    opacity: 1;
    transform: translate(0, 0);
}

header {
    opacity: 1;
    transition: opacity 0.5s;
}

.header--scrolled {
    opacity: 0;
}

.card-zoom {
    /* @apply relative flex items-center justify-center m-3 overflow-hidden shadow-xl w-60 h-60 rounded-2xl; */
    @apply w-full h-full relative flex items-center justify-center overflow-hidden;
}

.card-zoom-image {
    @apply absolute w-full h-full bg-gray-500 transition-all duration-500 ease-in-out transform bg-center bg-cover bg-blend-multiply;
}

.card-zoom-text {
    @apply font-theme-heading absolute text-3xl 2xl:text-5xl font-light transition-all duration-500 ease-in-out transform scale-150 text-white opacity-75;
}

.card-zoom:hover .card-zoom-image {
    @apply scale-150 bg-white;
}

.card-zoom:hover .card-zoom-text {
    @apply scale-100 opacity-0;
}

@screen lg {
    .image-mask {
        mask-size: auto;
    }
}